@use './Variables.scss' as v;

.Exchange{
  margin:                    1rem;
  padding:                   1rem;
  z-index:                      2;
  box-shadow:        v.$boxShadow;
  border-radius:  v.$borderRadius;

  .first-currency,
  .second-currency{
    margin:  1rem;
    display: flex;

    span{
    position: relative;
    
    &::before{
      content:                       '';
      top:              calc(25% - 5px);
      left:                           0;
      width:                        1px;
      height:                       80%;
      position:                absolute;
      background:             #C9C9C9;
      border-radius:       v.$boxShadow;
    }

    &::after{
      content:                   '▼';
      color:               #C9C9C9;
      top:                       50%;
      transform:    translateY(-50%);
      right:                      3%;
      width:                    20px;
      height:                   20px;
      position:             absolute;
    }
  }
    input,
    select{
      color:              v.$blue;
      border: 1px solid #C9C9C9;
      padding:               1rem;
      background:            none;
    }
    input{
      flex:                1 1 75%;
      position:           relative;
      border-right:              0;
      border-radius: 20px 0 0 20px;
    }
    input[type="text"]:disabled {
      background: rgba(0,0,0,0.2);
      color:                white;
    }
    span{
      cursor:              pointer;
      flex:                0 1 25%;
      border:     1px solid #C9C9C9;
      border-left:               0;
      border-radius: 0 20px 20px 0;

    }
    select{
      cursor:         pointer;
      width:             100%;
      border:               0;
      font-weight:        600;
      appearance:        none;
      -moz-appearance:   none; 
      -webkit-appearance:none; 
    }
  }
  .error{
    min-height: 1rem;
    margin-left: 1rem;
    font-size: .75rem;
    color: v.$pink;
  }
  //mobile
  @media(max-width: 425px){

    width:   90%;
    margin: auto;
    img{
      width: 75%;
    }
    .first-currency,
    .second-currency{

      &::before{
        left: 55%;
      }
      input,
      select{
        flex: 1 1 auto;
        width:   100px;
      }
      span{
        flex: 1 1 auto;
      }
    }
  }
}
