@use '../styles/Variables.scss' as v;

.Rates{

  &-item{
    display:                  flex;
    align-items:            center;
    padding:                  1rem;
    margin:                   1rem;
    box-shadow:       v.$boxShadow;
    border-radius: v.$borderRadius;

    &-desc{
      margin: 0 1rem;
    }

    .shadow{
    box-shadow:   v.$boxShadow;
    }

    .Rates-full-name{
      font-weight:      600;
      margin-bottom: 0.5rem;

      &::first-letter{
        text-transform: uppercase;
      }
    }
    .Rates-rate{
      font-weight: 600;
      color:    grey;
    }
  }
}