@use '../styles/Variables.scss' as v;

.Rates{

  &-item{
    display:                  flex;
    justify-content: space-between;
    align-items:            center;
    padding:                  1rem;
    margin:                   1rem;
    box-shadow:       v.$boxShadow;
    border-radius: v.$borderRadius;

    &-desc{
      margin: 0 1rem;
    }

    .shadow{
    box-shadow:   v.$boxShadow;
    }

    .Rates-full-name{
      font-weight:      600;
      margin-bottom: 0.5rem;

      &::first-letter{
        text-transform: uppercase;
      }
    }
    .Rates-rate{
      font-weight: 600;
      color:    grey;
    }
  }
  &-item-flag{
    display: flex;
  }
  &-item-chart{
    display: flex;
  
  .Rates-item-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button{
      cursor: pointer;
      padding: .5rem 1rem;
      margin: 0 1rem;
      background: v.$blue;
      border-radius: 20px;
      border: none;
      color: white;
      font-weight: 600;
    }
  }
}
}