@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

$blue:  #281C9D;
$blue-2:#1573FF;
$blue-3:#4EB4FF;
$pink:  #FF4267;
$yellow:#FFAF2A;

$font: 'Helvetica', 'Arial', sans-serif;

*,*::after,*::before{
  box-sizing: border-box;
}

.App{
  margin: 1rem;
  font-family: $font;

  .exchange{
    display: flex;

    &-inputs,
    &-selects{
      display:          flex;
      flex-direction: column;

      input,
      select{
        width:   150px;
        margin: .25rem;
        padding: .5rem;
      }
    }
  }
}